* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: ghostwhite;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  background-color: gray;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.header {
  min-height: 100px;
  flex-basis: 100%;
  background-image: url(img/torgovii-tsentr-interer.jpg);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  order: 1;
  text-align: center;
  color: ghostwhite;
  filter: grayscale(1);
}

.title {
  margin: 0;
}

.navbar a {
  color: ghostwhite;
}

.footer a {
  color: ghostwhite;
}

.main {
  min-height: calc(100vh - 150px);
  flex-basis: 500px;
  flex-grow: 1;
  order: 3;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.left {
  min-height: calc(100vh - 150px);
  flex-basis: 200px;
  order: 2;
  padding-left: 0.5em;
  background-color: gray;

}

.right {
  min-height: calc(100vh - 150px);
  flex-basis: 150px;
  order: 4;
  padding-right: 0.5em;
  background-color: gray;
}

.footer {
  min-height: 50px;
  flex-basis: 100%;
  order: 5;
  background-color: gray;
  text-align: center;
}

.card-item {
  min-height: 100px;
  flex-basis: calc((100% - 1em) / 3);
  border: 10px solid darkgrey;
}

.card-item a {
  color: ghostwhite;
}

.card-item-image {
  width: 100%;
}

.card-item-title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card-item-price {
  text-align: center;
  text-transform: uppercase;
  color: ghostwhite;
}