* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.header {
  min-height: 100px;
  flex-basis: 100%;
  order: 1;
  text-align: center;
}

.main {
  min-height: calc(100vh - 200px);
  flex-basis: 500px;
  flex-grow: 1;
  order: 3;
}

.left {
  min-height: calc(100vh - 200px);
  flex-basis: 300px;
  order: 2;
}

.right {
  min-height: calc(100vh - 200px);
  flex-basis: 200px;
  order: 4;
}

.footer {
  min-height: 100px;
  flex-basis: 100%;
  order: 5;
}

.card-item {
  padding: 5px;
  width: 31.5%;
}

.card-item1 {
  padding: 5px;
  border: 10px solid red;
  width: 32%;
  float: left;
  margin-left: 1em;
  margin-top: 1em;
}

.card-item-image {
  /*display: block;*/
  width: 100%;
}

.card-item-title {
  /*display: block;*/
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card-item-price {
  /*display: block;*/
  text-align: center;
  text-transform: uppercase;
  color: red;
}